.home {
  position: absolute;

  padding: 16px;

  width: calc(100vw - 32px);
  height: calc(100vh - 32px);

  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .home div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;
  }
}

.home .greeting {
  color: var(--primary);
  font-size: 2rem;
}

.home .whoami {
  color: var(--secondary);
  font-size: 1.5rem;
}

.home .work {
  flex: 0;

  display: flex;
  
  color: var(--primary);
  font-size: 1.0rem;

  margin-top: 48px;

  animation: fadeInOut 1s ease-in-out infinite alternate;
}
.home .work div:hover {
  cursor: pointer;
  color: var(--secondary);
  text-decoration: underline;
}

.home .divider {
  width: 25%;
}
@media screen and (max-width: 768px) {
  .home .divider {
    width: 0%;
  }
}
