#project-info-card {
  position: absolute;
  top: 18%;
  left: 57%;
  z-index: 1;
  
  width: 250px;
  height: 250px;
  background-color: white;

  visibility: visible;
  opacity: 0;

  border: none;
  border-radius: 4px;

  padding: 8px;
  
  color: black;
}
@media screen and (max-width: 768px) {
  #project-info-card {
    left: 65%;
    
    width: 80px;
    height: 80px;
  }
}

.fade-in {
  opacity: 0;
  animation: circularMotion 4s linear infinite, fadeIn 1s ease-in-out forwards;
}
@keyframes circularMotion {
  0% {
    transform: translateX(0) translateY(-5px);
  }
  12.5% {
    transform: translateX(5px) translateY(-10px);
  }
  25% {
    transform: translateX(10px) translateY(-5px);
  }
  37.5% {
    transform: translateX(5px) translateY(0);
  }
  50% {
    transform: translateX(0) translateY(5px);
  }
  62.5% {
    transform: translateX(-5px) translateY(10px);
  }
  75% {
    transform: translateX(-10px) translateY(5px);
  }
  87.5% {
    transform: translateX(-5px) translateY(0);
  }
  100% {
    transform: translateX(0) translateY(-5px);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-out {
  opacity: 1;
  animation: fadeOut 0.5s ease-in-out forwards;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#project-info-card .title {
  font-size: 0.8rem;
}

#project-info-card .description {
  font-size: 1.2rem;
}
